nav {
    border-bottom: 2px solid rosybrown;
    padding: 0 .1rem;
    margin-bottom: .5rem;
}


.breadcrum {
    width: 60px;
}

.app-title {
    font-size: 15px;
}

.date a {
color: white;
}

.time a {
    color: white;
}

.nav-dropdown-menu {
    font-size: 3vmin;
    color: coral;
}

.nav-dropdown-menu-date {
    font-size: 3vmin;
    color: coral;
}

.time-clock {
    font-family: digital-clock-font;
}

.dropdown-toggle::after{
    content: none;
}

.clock-tick {
    animation: blink 1s linear infinite;
}

@keyframes blink {
    0%{opacity: 0;}
    50%{opacity: .5;}
    100%{opacity: 1;}
  }