<nav class="navbar navbar-black bg-black">
    <ul class="nav app-nav">
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle nav-dropdown-menu" data-toggle="dropdown" href="#" role="button"
                aria-haspopup="true" aria-expanded="false">
                <span class="oi oi-menu"></span>
            </a>
            <div class="dropdown-menu nav-dropdown-menu">
                <a class="dropdown-item nav-dropdown-menu" href="#">Action</a>
                <a class="dropdown-item nav-dropdown-menu" href="#">Another action</a>
                <a class="dropdown-item nav-dropdown-menu" href="#">Something else here</a>
            </div>
        </li>
        <li class="nav-item app-title">
            <a class="nav-link nav-dropdown-menu" href="#">NeverLand Ranch Maha illuppallama</a>
        </li>
    </ul>
    <div class="form-inline">
        <a class="nav-link nav-dropdown-menu time-clock float-right" href="#">THURSDAY</a>
        <a class="nav-link nav-dropdown-menu time-clock float-right" href="#">24 OCT</a>
        <a class="nav-link nav-dropdown-menu time-clock float-right" href="#">6:53 AM</a>
    </div>
</nav>