.app-nav {
    height: 7vh;
    border-bottom: 2px solid rosybrown;
}

.breadcrum {
    width: 60px;
}

.app-title {
    font-size: 15px;
}

.date a {
color: white;
}

.time a {
    color: white;
}

.nav-dropdown-menu {
    font-size: 3vmin;
    color: coral;
}

.time-clock {
    font-family: digital-clock-font;
}