<nav class="navbar navbar-black bg-black">
    <ul class="nav app-nav">
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle nav-dropdown-menu" data-toggle="dropdown" href="#" role="button"
                aria-haspopup="true" aria-expanded="false">
                <span class="oi oi-menu"></span>
            </a>
            <div class="dropdown-menu nav-dropdown-menu" style="background-color: #616161;">
                <a class="dropdown-item nav-dropdown-menu" href="#">Action</a>
                <a class="dropdown-item nav-dropdown-menu" href="#">Another action</a>
                <a class="dropdown-item nav-dropdown-menu" href="#">Something else here</a>
            </div>
        </li>
        <li class="nav-item app-title">
            <a class="nav-link nav-dropdown-menu" href="#">{{field.fieldName}}</a>
        </li>
    </ul>
    <div class="form-inline">
        <span class="nav-link nav-dropdown-menu-date time-clock float-right" href="#">{{ weekDays[now.getDay()]  }}</span>
        <span class="nav-link nav-dropdown-menu-date time-clock float-right" href="#">{{now | date : 'dd MMM' | uppercase }}</span>
        <span class="nav-link nav-dropdown-menu-date time-clock float-right" href="#">{{now | date : 'hh' }}<span class="clock-tick" >:</span>{{now | date : 'mm aa' }}</span>
    </div>
</nav>