<div class="row">
    <div class="col">
        <div class="row gauge-list">
            <div class="col-3 text-center">
                <p class="text-center mb-0 d-inline border-bottom border-danger rounded-bottom-lg main-gauge-title">
                    POWER</p>
                <div class="gauge-container">
                    <mwl-gauge class="power" [max]="100" [value]="60" [animated]="true" [animationDuration]="1">
                    </mwl-gauge>
                </div>
                <p class="text-center mb-0">
                    <span class="oi oi-arrow-thick-bottom"></span>
                </p>
            </div>
            <div class="col  mb-0  text-center">
                <p class="text-center mb-0 d-inline border-bottom border-info rounded-bottom-lg main-gauge-title">FLOW
                    RATE</p>
                <div class="gauge-container">
                    <mwl-gauge class="flow-meter" [max]="100" [value]="5" [animated]="true" [animationDuration]="1">
                    </mwl-gauge>
                </div>
                <p class="text-center mb-0">
                    <span class="oi oi-arrow-thick-bottom"></span>
                </p>
            </div>
            <div class="col mb-0 text-center">
                <p class="text-center mb-0 d-inline border-bottom border-info rounded-bottom-lg main-gauge-title">
                    PRESSURE</p>
                <div class="gauge-container">
                    <mwl-gauge class="flow-meter" [max]="100" [value]="60" [animated]="true" [animationDuration]="1">
                    </mwl-gauge>
                </div>
                <p class="text-center mb-0">
                    <span class="oi oi-arrow-thick-bottom"></span>
                </p>
            </div>
            <div class="col text-center">
                <p class="text-center mb-0 d-inline border-bottom border-info rounded-bottom-lg main-gauge-title">EC</p>
                <div class="gauge-container">
                    <mwl-gauge class="flow-meter" [max]="100" [value]="80" [animated]="true" [animationDuration]="1">
                    </mwl-gauge>
                </div>
                <p class="text-center mb-0">
                    <span class="oi oi-arrow-thick-bottom"></span>
                </p>
            </div>
        </div>
        <div class="row pertilizer-unit">
            <div class="col-4">
                flow
            </div>
            <div class="col position-relative">
                    <app-fertilizer-system class="position-absolute fert-unit-container" fertLevels="50,100,0,80" fertPumpStatuses="1,0,0,1"></app-fertilizer-system>
            </div>
        </div>
        <div class="row pertilizer-data">
            <div class="col-4">
                flow
            </div>
            <div class="col text-center">
                <div>N</div>
                <div class="fertilizer-data-gauge-container">
                    <mwl-gauge class="fertilizer-gauge" [max]="100" [dialStartAngle]="180" [dialEndAngle]="0"
                        [dialStartAngle]="-90" [dialEndAngle]="-90.001" [value]="60" [animated]="true"
                        [animationDuration]="1">
                    </mwl-gauge>
                </div>
                <div>
                    2.6
                </div>
                <div>
                    800
                </div>
                <div>
                    800
                </div>
            </div>
            <div class="col text-center">
                <div>N</div>
                <div class="fertilizer-data-gauge-container">
                    <mwl-gauge class="fertilizer-gauge" [max]="100" [dialStartAngle]="180" [dialEndAngle]="0"
                        [value]="60" [animated]="true" [animationDuration]="1">
                    </mwl-gauge>
                </div>
                <div>
                    2.6
                </div>
                <div>
                    800
                </div>
                <div>
                    800
                </div>
            </div>
            <div class="col text-center">
                <div>N</div>
                <div class="fertilizer-data-gauge-container">
                    <mwl-gauge class="fertilizer-gauge" [max]="100" [dialStartAngle]="180" [dialEndAngle]="0"
                        [value]="60" [animated]="true" [animationDuration]="1">
                    </mwl-gauge>
                </div>
                <div>
                    2.6
                </div>
                <div>
                    800
                </div>
                <div>
                    800
                </div>
            </div>
            <div class="col  text-center">
                <div>N</div>
                <div class="fertilizer-data-gauge-container">
                    <mwl-gauge class="fertilizer-gauge" [max]="100" [dialStartAngle]="180" [dialEndAngle]="0"
                        [value]="60" [animated]="true" [animationDuration]="1">
                    </mwl-gauge>
                </div>
                <div>
                    2.6
                </div>
                <div>
                    800
                </div>
                <div>
                    800
                </div>
            </div>
        </div>
    </div>
    <div class="col m-3">
        <div class="row crop-filed">
            <div class="col filed-box d-flex justify-content-center border border-primary border-bottom-0 rounded-lg">
                <img src="/assets/tree_top.png" alt="" class="align-self-end tree-top" />
                <span class="field-stats">
                    <ul>
                        <li>29.5'c</li>
                        <li>95% PH</li>
                        <li>34.3 kmph</li>
                    </ul>
                </span>
                <img class="weather-icon" alt="" src="/assets/weather_cloudy.png" />
            </div>
        </div>
        <div class="row crop-filed-nav">
            <div class="col">
                <div class="row">
                    <div class="col d-flex justify-content-center border border-primary  border-top-0 rounded-bottom-lg"
                        style="background-color: #b0855f;">
                        <img src="/assets/tree_root.png" alt="" class="align-self-start tree-bottom" />
                        <span class="filed-progress">
                            <ul>
                                <li>Last 2d 11h</li>
                                <li>Next 2d 04h</li>
                            </ul>
                        </span>
                        <span class="field-soil-stats">
                            <ul>
                                <li>29.5'c</li>
                                <li>95% PH</li>
                                <li>34.3 kmph</li>
                            </ul>
                        </span>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="d-flex align-items-stretch flex-row justify-content-between field-nav">
                            <div class="nav-previouse"> <span class="oi oi-caret-left"></span></div>
                            <div><span>PLOT #</span>&nbsp;&nbsp;<span class="plot-no">03</span></div>
                            <div class="d-flex align-items-end flex-column">
                                <span class="crop-type">Pineapple</span>
                                <span>36/59</span>
                            </div>
                            <div class="nav-next"><span class="oi oi-caret-right"></span></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row prgress-charts">
            <div class="col">
                <div class="row">
                    <div class="col d-flex">
                        <div class="d-flex align-self-center align-items-center flex-column">
                            <span>FERTIGATTION</span>
                            <span>2000L</span>
                        </div>
                    </div>
                    <div class="col d-flex">
                        <canvas style="width: inherit;height: inherit;" baseChart [data]="pieChartData"
                            [labels]="pieChartLabels" [chartType]="pieChartType" [options]="pieChartOptions"
                            [plugins]="pieChartPlugins" [colors]="pieChartColors" [legend]="pieChartLegend">
                        </canvas>
                    </div>
                    <div class="col gauge-container">
                        <mwl-gauge class="power" [max]="100" [value]="60" [animated]="true" [animationDuration]="1">
                        </mwl-gauge>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>