<div class="pump-line" *ngIf="showPumpLine && sensors.flowRate"
    [ngStyle]="{'top.px':waterPumpOffsetHeight+headerHeight+5, 'left.px': waterPump.offsetLeft + waterPump.width, 'width.px': leftPaneWidth + fieldBottomContentWidth - waterPumpWidth }">
    <app-pump-line [fertLineHeight]="waterPumpContainerHeight - waterContainerHeight"
        [fertInputStart]="(rightPaneWidth - waterPumpWidth)/2" [pumping]="sensors.flowRate > 0" 
        [fertilizing]="sensors.NRate > 0 ||sensors.PRate > 0 ||sensors.KRate > 0 ||sensors.YRate">
    </app-pump-line> 
</div>
<div class="row">
    <div class="col" #leftPane>
        <div class="row gauge-list">
            <div class="col-3 text-center">
                <p class="text-center mb-0 d-inline border-bottom border-danger rounded-bottom-lg main-gauge-title">
                    POWER</p>
                <div class="gauge-container">
                    <mwl-gauge class="power" *ngIf="sensors" [max]="sensors.totalPower" [value]="sensors.currPower"
                        [animated]="true" [animationDuration]="1">
                    </mwl-gauge>
                </div>
                <p class="text-center mb-0">
                    <span class="oi oi-arrow-thick-bottom"></span>
                </p>
            </div>
            <div class="col  mb-0  text-center">
                <p class="text-center mb-0 d-inline border-bottom border-info rounded-bottom-lg main-gauge-title">FLOW
                    RATE</p>
                <div class="gauge-container">
                    <mwl-gauge class="flow-meter" *ngIf="sensors" [max]="sensors.maxFlowRate" [value]="sensors.flowRate"
                        [animated]="true" [animationDuration]="1">
                    </mwl-gauge>
                </div>
                <p class="text-center mb-0">
                    <span class="oi oi-arrow-thick-bottom"></span>
                </p>
            </div>
            <div class="col mb-0 text-center">
                <p class="text-center mb-0 d-inline border-bottom border-info rounded-bottom-lg main-gauge-title">
                    PRESSURE</p>
                <div class="gauge-container">
                    <mwl-gauge class="flow-meter" *ngIf="sensors" [max]="sensors.maxPressure" [value]="sensors.pressure"
                        [animated]="true" [animationDuration]="1">
                    </mwl-gauge>
                </div>
                <p class="text-center mb-0">
                    <span class="oi oi-arrow-thick-bottom"></span>
                </p>
            </div>
            <div class="col text-center">
                <p class="text-center mb-0 d-inline border-bottom border-info rounded-bottom-lg main-gauge-title">EC</p>
                <div class="gauge-container">
                    <mwl-gauge class="flow-meter" *ngIf="sensors" [max]="sensors.ph" [value]="sensors.ec"
                        [animated]="true" [animationDuration]="1">
                    </mwl-gauge>
                </div>
                <p class="text-center mb-0">
                    <span class="oi oi-arrow-thick-bottom"></span>
                </p>
            </div>
        </div>
        <div class="row pertilizer-unit" #waterPumpRow >
            <div class="col-4 position-relative" >
                <img alt="pump" class="pump" #waterPump src="./assets/pump_img.png">
                <ul *ngIf="sensors" class="position-absolute water-pump-reading fert-level-text">
                    <li>{{power.currVoltage}} V</li>
                    <li>{{power.currLoad}} A</li>
                    <li>{{weather.temp}} C</li>
                </ul>
            </div>
            <div #fertPumpContainer class="col position-relative">
                <div #fertPump class="position-absolute fert-unit-container">
                    <app-fertilizer-system *ngIf="sensors.NCurrTankLevel"
                        fertLevels="{{sensors.NCurrTankLevel+','+sensors.PCurrTankLevel+','+sensors.KCurrTankLevel+','+sensors.YCurrTankLevel}}"
                        fertPumpStatuses="{{getFertFlowRates()}}"></app-fertilizer-system>
                </div>
            </div>
        </div>
        <div class="row pertilizer-data">
            <div class="col-4 text-right gauge-level-title">
                <div>&nbsp;</div>
                <div class="fertilizer-data-gauge-container invisible">
                </div>
                <div>
                    Flow Rate (l/min)
                </div>
                <div>
                    Volume
                </div>
                <div>
                    Fertilizer
                </div>
            </div>
            <div class="col text-center fert-level-text">
                <div>N</div>
                <div class="fertilizer-data-gauge-container">
                    <mwl-gauge class="fertilizer-gauge" *ngIf="sensors" [max]="sensors.NFullTankLevel"
                        [value]="sensors.NCurrTankLevel" [dialStartAngle]="180" [dialEndAngle]="0"
                        [dialStartAngle]="-90" [dialEndAngle]="-90.001" [animated]="true" [animationDuration]="1">
                    </mwl-gauge>
                </div>
                <div>
                    {{sensors.NRate}}
                </div>
                <div>
                    {{sensors.NSchedule}}
                </div>
                <div>
                    {{sensors.NUsed}}
                </div>
            </div>
            <div class="col text-center fert-level-text">
                <div>P</div>
                <div class="fertilizer-data-gauge-container">
                    <mwl-gauge class="fertilizer-gauge" *ngIf="sensors" [max]="sensors.PFullTankLevel"
                        [value]="sensors.PCurrTankLevel" [dialStartAngle]="180" [dialEndAngle]="0" [animated]="true"
                        [animationDuration]="1">
                    </mwl-gauge>
                </div>
                <div>
                    {{sensors.PRate}}
                </div>
                <div>
                    {{sensors.PSchedule}}
                </div>
                <div>
                    {{sensors.PUsed}}
                </div>
            </div>
            <div class="col text-center fert-level-text">
                <div>K</div>
                <div class="fertilizer-data-gauge-container">
                    <mwl-gauge class="fertilizer-gauge" *ngIf="sensors" [max]="sensors.KFullTankLevel"
                        [value]="sensors.KCurrTankLevel" [dialStartAngle]="180" [dialEndAngle]="0" [animated]="true"
                        [animationDuration]="1">
                    </mwl-gauge>
                </div>
                <div>
                    {{sensors.KRate}}
                </div>
                <div>
                    {{sensors.KSchedule}}
                </div>
                <div>
                    {{sensors.KUsed}}
                </div>
            </div>
            <div class="col  text-center fert-level-text">
                <div>Y</div>
                <div class="fertilizer-data-gauge-container">
                    <mwl-gauge class="fertilizer-gauge" *ngIf="sensors" [max]="sensors.YFullTankLevel"
                        [value]="sensors.YCurrTankLevel" [dialStartAngle]="180" [dialEndAngle]="0" [animated]="true"
                        [animationDuration]="1">
                    </mwl-gauge>
                </div>
                <div>
                    {{sensors.YRate}}
                </div>
                <div>
                    {{sensors.YSchedule}}
                </div>
                <div>
                    {{sensors.YUsed}}
                </div>
            </div>
        </div>
    </div>
    <div class="col" #rightPane>
        <div class="row crop-filed">
            <div class="col">
                <div class="d-block h-100" style="width: 97%;">
                    <div
                        class="filed-box d-flex justify-content-center border border-primary border-bottom-0 rounded-lg mt-1 ml-2 mr-1 h-100">
                        <img src="./assets/tree_top.png" alt="" class="align-self-end tree-top" />
                        <span class="field-stats d-block">
                            <table>
                                <tr>
                                    <td>Temp</td>
                                    <td>: {{weather.temp}}c</td>
                                </tr>
                                <tr>
                                    <td>EC</td>
                                    <td>: {{ (sensors.ec / sensors.ph) * 100 }} % PH</td>
                                </tr>
                                <tr>
                                    <td>Wind</td>
                                    <td>: {{weather.wind}} kmph</td>
                                </tr>
                            </table>
                        </span>
                        <img class="weather-icon" alt=""
                            src="https://developer.accuweather.com/sites/default/files/12-s.png" />
                    </div>
                </div>
            </div>
        </div>
        <div class="row crop-filed-nav" #fieldBottom>
            <div class="col">
                <div class="row">
                    <div class="col ">
                        <div class="d-block" style="width: 97%;" #fieldBottomContent>
                            <div class="d-flex justify-content-center border border-primary  border-top-0 rounded-bottom-lg  ml-2 mr-1"
                                style="background-color: #b0855f;position: relative;">
                                <img src="./assets/tree_root.png" #treeRoot alt="" class="align-self-start tree-bottom" />
                                <span class="filed-progress">
                                    <ul>
                                        <li>Last 2d 11h</li>
                                        <li>Next 2d 04h</li>
                                    </ul>
                                </span>
                                <span class="field-soil-stats">
                                    <table>
                                        <tr>
                                            <td>Temp</td>
                                            <td>: {{weather.temp}}c</td>
                                        </tr>
                                        <tr>
                                            <td>EC</td>
                                            <td>: {{ (sensors.ec / sensors.ph) * 100 }} % PH</td>
                                        </tr>
                                    </table>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="d-block" style="width: 97%;">
                            <div class="border border-primary rounded ml-2 mr-1 mt-2 pl-2 pr-2">
                                <div class="d-flex align-items-stretch flex-row justify-content-between field-nav">
                                    <div class="nav-previouse"> <span class="oi oi-caret-left"></span></div>
                                    <div><span>PLOT #</span>&nbsp;&nbsp;<span class="plot-no">{{field.fieldId}}</span>
                                    </div>
                                    <div class="d-flex align-items-end flex-column">
                                        <span class="crop-type">{{field.crop}}</span>
                                        <span>{{field.numOfPlant}}/{{field.aria}}</span>
                                    </div>
                                    <div class="nav-next"><span class="oi oi-caret-right"></span></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row prgress-charts">
            <div class="col">
                <div class="row">
                    <div class="col d-flex justify-content-center">
                        <div class="d-flex align-self-center align-items-right flex-column">
                            <span>Current fertigation cycle</span>
                            <span>2000L</span>
                        </div>
                    </div>
                    <div class="col d-flex justify-content-center align-items-center" style="position: relative;">
                        <canvas style="width: inherit;height: inherit;" baseChart
                            [data]="[sensors.NSchedule, sensors.PSchedule, sensors.KSchedule, sensors.YSchedule]"
                            [labels]="['N', 'P', 'K','Y']" [chartType]="'pie'" [options]="pertPieCharOptions"
                            [plugins]="pertPieCharOptions" [colors]="pieChartColors" [legend]="false">
                        </canvas>
                        <span class="fert-legent d-flex flex-row justify-content-between">
                            <span class="badge badge-pill fert-legent-n">N - {{sensors.NSchedule}}</span>
                            <span class="badge badge-pill fert-legent-p">P - {{sensors.PSchedule}}</span>
                            <span class="badge badge-pill fert-legent-k">K - {{sensors.KSchedule}}</span>
                            <span class="badge badge-pill fert-legent-y">Y - {{sensors.YSchedule}}</span>
                        </span>
                    </div>
                    <div class="col gauge-container d-flex justify-content-center align-items-center">
                        <div style="width: 70%;">
                            <mwl-gauge class="time" [max]="100" [value]="60" [animated]="true" [animationDuration]="1">
                            </mwl-gauge>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>