.filed-box {
  position: relative;
}
.field-stats {
  position: absolute;
  top: 15px;
  right: 15px;
  font-size: 2vmin;
}
.field-stats ul {
  list-style-type: none;
}
.field-soil-stats {
  position: absolute;
  bottom: 15px;
  right: 15px;
  font-size: 2vmin;
}
.field-soil-stats ul {
  list-style-type: none;
}
.weather-icon {
  position: absolute;
  top: 15px;
  left: 15px;
  width: 15vmin;
}
.filed-progress {
  position: absolute;
  bottom: 15px;
  left: 15px;
  font-size: 2vmin;
}
.filed-progress ul {
  padding-inline-start: 14px;
  list-style-type: none;
}
.gauge-list {
  height: 30vh;
}
.pertilizer-unit {
  height: 30vh;
}
.pertilizer-data {
  height: 30vh;
}
.fertilizer-data-gauge-container {
  height: 36%;
  overflow: hidden;
  color: red;
}
.crop-filed {
  height: 30vh;
}
.crop-filed-nav {
  height: 30vh;
}
.prgress-charts {
  height: 30vh;
}
.gauge-container {
  height: 65%;
}
.main-gauge-title {
  font-family: digital-clock-font;
  font-size: 3vmin;
}
.tree-top {
  width: 41vmin;
}
.tree-bottom {
  width: 41vmin;
}
.nav-previouse {
  font-size: 6vmin;
  color: #be80ff;
  cursor: pointer;
}
.nav-next {
  font-size: 6vmin;
  color: #be80ff;
  cursor: pointer;
}
.field-nav {
  margin-top: 2vmin;
}
.plot-no {
  font-size: 6vmin;
  color: #f8774b;
}
.crop-type {
  color: #f8774b;
}
.fert-unit-container {
  width: 98%;
  height: inherit;
  bottom: 2px;
}
.water-pump-reading {
  font-family: digital-clock-font;
  font-size: 3vmin;
  font-weight: bolder;
  text-align: right;
  list-style-type: none;
  bottom: 0;
  right: 0;
  margin-bottom: 0;
  color: #d9ff03;
}
.fert-level-text {
  font-size: 2.4vmin;
}
.gauge-level-title {
  font-size: 2.4vmin;
  color: #ffe005;
}
.water-pump-reading li {
  border: 1px solid #f8774b;
  padding: 2px 25px;
  margin: 2px;
}
.pump {
  width: 7vw;
}
.pump-line {
  position: absolute;
  z-index: 1;
  display: block;
  width: 100%;
}
.fert-legent {
  font-weight: bolder;
  width: 70%;
  position: absolute;
  bottom: 0;
}
.fert-legent-n {
  font-size: 1.2vmin;
  background-color: #f8ff2b;
  color: #000;
}
.fert-legent-p {
  font-size: 1.2vmin;
  background-color: #f821ff;
  color: #000;
}
.fert-legent-k {
  font-size: 1.2vmin;
  background-color: #0dff39;
  color: #000;
}
.fert-legent-y {
  font-size: 1.2vmin;
  background-color: #ff841f;
  color: #000;
}
mwl-gauge {
  flex: 1;
  display: block;
  padding: 2px;
  margin: 2px;
  border-radius: 3px;
}
mwl-gauge > .gauge > .dial {
  stroke: #334455;
  stroke-width: 2;
  fill: transparent;
}
mwl-gauge > .gauge > .value {
  stroke: #2fe3ff;
  stroke-width: 2;
  fill: transparent;
}
mwl-gauge > .gauge > .value-text {
  fill: #2fe3ff;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 0.8em;
}
mwl-gauge.fertilizer-gauge > .gauge > .dial {
  stroke: #eee;
  stroke-width: 10;
}
mwl-gauge.fertilizer-gauge > .gauge > .value {
  stroke: #ffe005;
  stroke-dasharray: none;
  stroke-width: 13;
}
mwl-gauge.fertilizer-gauge > .gauge > .value-text {
  fill: orange;
}
mwl-gauge.power > .gauge > .dial {
  stroke: #eee;
  stroke-width: 2;
}
mwl-gauge.power > .gauge > .value {
  stroke: #d42f6e;
  stroke-width: 5;
}
mwl-gauge.power > .gauge > .value-text {
  fill: #d42f6e;
}
mwl-gauge.four > .gauge > .dial {
  stroke: #334455;
  stroke-width: 5;
}
mwl-gauge.four > .gauge > .value {
  stroke: #be80ff;
  stroke-dasharray: none;
  stroke-width: 5;
}
mwl-gauge.four > .gauge > .value-text {
  fill: #be80ff;
}
mwl-gauge.flow-meter > .gauge > .dial {
  stroke: #969993;
  stroke-dasharray: 10 1;
  stroke-width: 7;
}
mwl-gauge.flow-meter > .gauge > .value {
  stroke: #16ff0a;
  stroke-dasharray: 10 1;
  stroke-width: 5;
}
mwl-gauge.flow-meter > .gauge > .value-text {
  fill: #16ff0a;
  font-size: 0.7em;
}
mwl-gauge.six > .gauge > .dial {
  stroke: #334455;
  fill: #334455;
  stroke-width: 20;
}
mwl-gauge.six > .gauge > .value {
  stroke: #ff6daf;
  stroke-width: 20;
}
mwl-gauge.six > .gauge > .value-text {
  fill: #ff6daf;
  font-size: 0.7em;
}
mwl-gauge.time > .gauge > .dial {
  stroke: transparent;
  stroke-width: 5;
  transform: scale(0.9, 0.9) translate3d(5.5px, 5.5px, 0);
  fill: rgba(148, 112, 57, 0.42);
}
mwl-gauge.time > .gauge > .value {
  stroke: #f8774b;
  stroke-dasharray: none;
  stroke-width: 5;
}
